body{
    background-color: black;
    text-color white;
}

.LeftAlign{
    border: 5px solid;
    border-color: blue;
    float: left;
}
.CenterAlign{
    border: 5px solid;
    border-color: red;
    float: center;
}
.RightAlign{
    border: 5px solid;
    border-color: purple;
    float: right;
}
