body{
    background-color: black;
    color: white;
}
.container{
    display: flex;
    justify-content: center;
          }
.LeftAlign{
    flex: 0 0 auto;
    color: white;
    box-sizing: border-box;
    border: 5px solid;
    border-color: blue;
}
.CenterAlign{
    flex: 0 0 auto;
    color: white;
    text-align: justify;
    box-sizing: border-box;
    border: 5px solid;
    border-color: red;
}
.RightAlign{
    flex: 0 0 auto;
    color: white;
    text-align: justify;
    box-sizing: border-box;
    border: 5px solid;
    border-color: purple;
}
